body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-top: 0;
}

#searchHistoryList {
    list-style-type: none;
    padding: 0;
}

#searchHistoryList li {
    margin-bottom: 10px;
}

#favoriteRecipesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.favoriteRecipe {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}
